<!doctype html>
<html lang="en">
<title>Chat</title>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/chat">Chat!</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>

                <% rooms.forEach(function(room){ %>
                    <li><a href="#" onclick="chooseRoom('<%= room.title %>')">Join <%= room.title %></a></li>
                <% })%>

                <li><a id='textField' href="">Create a room</a></li>
                <li>
                    <form id='hiddenForm' class="form-inline" action="" style="display:none;" >
                        <div class="form-group">
                            <input type="text" class="form-control" id="createRoom" placeholder="Enter new room" name="createdRoom">
                        </div>
                        <button type="submit" class="btn btn-default">Create</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <div class="jumbotron" id="changeColor">
            <br>
            <h3 id="welcomeHeading"></h3>
            <h4>There are <span id=numberOnline>0</span> online friends in the room</h4>
            <br>
            <div class='row'>
                <div class="col-xs-6">
                    <div id="chattingArea"></div>
                    <form id="form" class="" id="chat_form">
                        <div class="form-group">
                            <input id="chat_input" class="form-control" type="text" autocomplete="off" placeholder="Send Message">
                            <button type="submit" class="btn btn-default btn-sm" value="Send" id="submit_btn"><span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </form>
                </div>
                
                <div class="col-xs-4" id="float_right">
                </div>
            </div>
         </div>
    </div>

    <!-- <form id="signInForm" type="hidden" action"/home" method='GET'></form> -->


    <script src="/jquery/dist/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/myscript.js"></script>
    <script src="./js/color.js"></script>
</body>

</html>